*{
    background-color: darkslategray;
    color: cadetblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: darkslategray;
}

h1{
    font-family: "Meow Script", cursive;
    font-size: 60px;
}

h3{
    font-size: 20px;
}


#poem-clicker{
    background-color: cadetblue;
    color: darkslategray;
    font-weight: bold;
}

#fox-clicker{
    background-color: cadetblue;
    color: darkslategray;
    font-weight: bold;
}