
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdgVnwqJtg9RSy_vCRxM5bqSqzTVtncUTnCQ&s');

}


div {
  height: 100%;
  width: 100%;
}

.beige {
  background-color: burlywood;
}

.wheat {
  background-color: wheat;
}

.side-padding{
  padding-left: 10%;
  padding-right: 10%;
}