
body {
  font-family: sans-serif;
  margin: 10;
  width: 100%;
  height: 100%;
}


div {
  padding-right: 50px;
  height: 100%;
  width: 100%;
}

.nav {
  background-color: #FFEE00;
  max-width: 25%;
  min-width: 140px;
  flex: 1;
}

.scarecrow-img{
    padding-left: 20px;
    max-width: 100%;

}